Serverless-Processing/Az_Func/Func_App_DLL/OrderCreationWorkflow/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "CreateOrderDomain": {
              "type": "Function",
              "inputs": {
                "body": "@triggerBody()",
                "method": "POST",
                "function": {
                  "id": "/subscriptions/f23abd62-9cb4-4f44-8596-110f8275e76a/resourceGroups/rg-order/providers/Microsoft.Web/sites/OrderFunctionApp/functions/CreateOrderDomain"
                }
              },
              "runAfter": {}
            },
            "InsertOrder": {
              "type": "Function",
              "inputs": {
                "body": "@body('CreateOrderDomain').order",
                "method": "POST",
                "function": {
                  "id": "/subscriptions/f23abd62-9cb4-4f44-8596-110f8275e76a/resourceGroups/rg-order/providers/Microsoft.Web/sites/OrderFunctionApp/functions/InsertOrder"
                }
              },
              "runAfter": {
                "CreateOrderDomain": [
                  "Succeeded"
                ]
              }
            },
            "SendOrderNotifications": {
              "type": "Function",
              "inputs": {
                "body": "@body('CreateOrderDomain').events",
                "method": "POST",
                "function": {
                  "id": "/subscriptions/f23abd62-9cb4-4f44-8596-110f8275e76a/resourceGroups/rg-order/providers/Microsoft.Web/sites/OrderFunctionApp/functions/SendOrderNotifications"
                }
              },
              "runAfter": {
                "InsertOrder": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {},
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ProductId": {
                      "type": "string"
                    },
                    "CustomerName": {
                      "type": "string"
                    },
                    "Quantity": {
                      "type": "integer"
                    },
                    "ProductPrice": {
                      "type": "integer"
                    },
                    "DeliveryDate": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {}
}